body, html{
    height: 200%;
    margin: 0;
    width: 100%;
}


button{
    color: rgb(255, 255, 255);
    background-color: rgb(173, 167, 167);
    height: 10%;
    
}

.label{
    text-align: center;
    
}

h1{
    background-color: rgb(13, 13, 97);
    color: white;
}

p{
    color: #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}