body, html{
    height: 100%;
    margin: 0;
}


button{
    color: aqua;
    background-color: black
}

.label{
    text-align: center;
    
}

h1{
    background-color: rgb(13, 13, 97);
    color: white;
}

p{
    color: #000000;
}